Repository bounswe/bounswe2022group1, pull requests merged in 2022-11, with the labels that each got.

#452 Bug fix for user logout. (user_token is set to "")
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  deliverables/CMPE451_Customer_Presentation_Milestone_1/Customer_Milestone_1.md
Labels: Type: Enhancement, Priority: Critical, Android

#395 React authentication page
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general-issue.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/forgot-password/forgot-password.js
  frontend/src/components/login/login.js
  frontend/src/components/signup/signup.js
Labels: Priority: High, Status: Review Needed, Status: On Hold, Frontend

#505 change password unit test is added
  backend/app/tests/test_change_password.py
  backend/app/tests/test_login.py
  backend/app/views.py
Labels: Type: Enhancement, Backend

#513 Backend First Models, Serializers and Implementation of Environment Variables
  backend/.env.dev_sample
  backend/.env.prod_sample
  backend/Dockerfile
  backend/app/migrations/0003_initial.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
  backend/budemi/settings.py
  backend/docker-compose.yml
Labels: Status: Review Needed, Backend
