Repository bounswe/bounswe2022group1, pull requests merged in 2022-10, with the labels that each got.

#353 Android Login and Signup implemented
  android/.gitignore
  android/.idea/.gitignore
  android/.idea/.name
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/misc.xml
  android/app/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/LandingActivity.kt
  android/app/src/main/java/com/example/myapplication/SignInActivity.kt
  android/app/src/main/java/com/example/myapplication/SignUpActivity.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/home_page_bg.jpg
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_landing.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/com/example/myapplication/ExampleUnitTest.kt
  android/build.gradle
  android/dummy.txt
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: Status: Review Needed, Android

#364 Backend-dev login-logout functionalities
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
Labels: Priority: Critical, Status: In Progress, Backend

#367 Added test cases for login, logout, register
  backend/app/tests.py
  backend/app/tests/__init__.py
  backend/app/tests/test_login.py
  backend/app/tests/test_logout.py
  backend/app/tests/test_register.py
Labels: Priority: High, Backend

#420 Android main
  android/.gitignore
  android/app/src/main/java/com/example/myapplication/model/change_password_failure_model.kt
  android/app/src/main/java/com/example/myapplication/model/change_password_model.kt
  android/app/src/main/java/com/example/myapplication/model/change_password_response_model.kt
  android/app/src/main/java/com/example/myapplication/service/ServiceBuilder.kt
  android/app/src/main/java/com/example/myapplication/service/changePasswordApiCall.kt
  android/app/src/main/java/com/example/myapplication/service/change_password_api.kt
  android/app/src/main/java/com/example/myapplication/service/sign_up_api.kt
  android/app/src/main/java/com/example/myapplication/view/ChangePasswordActivity.kt
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LandingActivity.kt
  android/app/src/main/java/com/example/myapplication/view/SignInActivity.kt
  android/app/src/main/java/com/example/myapplication/view/SignUpActivity.kt
  android/app/src/main/res/layout/activity_change_password.xml
Labels: Priority: High, Status: Review Needed, Type: Testing, Android

#431 Merging Backend-Development for the Customer Meeting
  .DS_Store
  backend/.gitignore
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/admin.py
  backend/app/apps.py
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0002_delete_student_delete_teacher.py
  backend/app/migrations/__init__.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/tests/__init__.py
  backend/app/tests/test_login.py
  backend/app/tests/test_logout.py
  backend/app/tests/test_register.py
  backend/app/urls.py
  backend/app/views.py
  backend/budemi/__init__.py
  backend/budemi/asgi.py
  backend/budemi/settings.py
  backend/budemi/urls.py
  backend/budemi/wsgi.py
  backend/docker-compose.yml
  backend/manage.py
  backend/requirements.txt
Labels: Priority: Critical, Backend

#451 milestone 1 report added
  deliverables/CMPE451_Customer_Presentation_Milestone_1/Customer_Milestone_1.md
Labels: Type: Documentation, Status: Completed, Android
