Repository bounswe/bounswe2022group1, pull requests merged in 2022-12, with the labels that each got.

#538 Backend Content Update Api
  backend/app/serializers.py
  backend/app/views.py
Labels: Status: Review Needed, Backend

#547 Backend dev discussion
  backend/.env.dev_sample
  backend/.env.prod_sample
  backend/Dockerfile
  backend/app/admin.py
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0003_initial.py
  backend/app/migrations/0004_auto_20221122_0203.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/tests/test_change_password.py
  backend/app/tests/test_learning_space.py
  backend/app/tests/test_login.py
  backend/app/urls.py
  backend/app/views.py
  backend/budemi/settings.py
  backend/docker-compose.yml
Labels: Priority: High, Backend

#549 Revert "Backend dev discussion"
  backend/.env.dev_sample
  backend/.env.prod_sample
  backend/Dockerfile
  backend/app/admin.py
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0003_initial.py
  backend/app/migrations/0004_auto_20221122_0203.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/tests/test_change_password.py
  backend/app/tests/test_learning_space.py
  backend/app/tests/test_login.py
  backend/app/urls.py
  backend/app/views.py
  backend/budemi/settings.py
  backend/docker-compose.yml
Labels: Priority: Critical, Backend

#550 Backend dev discussion
  backend/app/admin.py
  backend/app/migrations/0001_initial.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
Labels: Backend

#551 Implemented an APIs searching and listing all Learning Spaces
  backend/app/urls.py
  backend/app/views.py
Labels: Priority: Critical, Backend

#554 Profile Page
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0002_delete_student_delete_teacher.py
  backend/app/migrations/0003_initial.py
  backend/app/migrations/0004_auto_20221122_0203.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
Labels: Priority: Critical, Status: In Progress, Backend

#555 Implemented tagging, fixed bug,improved LSpace API
  backend/app/migrations/0001_initial.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/views.py
Labels: Priority: High, Backend

#557 Implemented tag search functionality
  backend/app/urls.py
  backend/app/views.py
Labels: Priority: High, Backend

#562 Password reset
  backend/app/helpers.py
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
  backend/budemi/settings.py
Labels: Type: Enhancement, Status: Completed, Backend

#566 Bug fix: valid and unique email
  backend/app/views.py
Labels: Type: Enhancement, Status: Completed, Backend

#569 Leave learning space and get enrolled learning spaces
  backend/app/urls.py
  backend/app/views.py
Labels: Type: Enhancement, Priority: Critical, Status: Completed, Backend

#571 Backend image storing
  backend/Dockerfile
  backend/app/admin.py
  backend/app/migrations/0002_profile_image_url.py
  backend/app/models.py
  backend/app/serializers.py
  backend/budemi/settings.py
  backend/budemi/urls.py
Labels: Status: Review Needed, Backend

#574 Bug Fix: Profile Page Update Learning Spaces
  backend/app/migrations/0002_alter_profile_about_me.py
  backend/app/models.py
  backend/app/views.py
Labels: Type: Bug, Priority: High, Status: Completed, Backend

#327 Update README.md
  README.md
Labels: Type: Documentation, Priority: Medium, Status: Review Needed, Status: In Progress

#596 learningSpace2, topic click lands content page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/view/AddContent.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace1.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
  android/app/src/main/res/layout/activity_add_content.xml
  android/app/src/main/res/values/strings.xml
Labels: Type: Documentation, Status: Completed, Android

#599 Android dev ahmet, profile page changes
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/model/list_elements.kt
  android/app/src/main/java/com/example/myapplication/model/profile_edit_post_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/profile_edit_post_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/profile_see_get_receive_model.kt
  android/app/src/main/java/com/example/myapplication/service/profile_edit_api.kt
  android/app/src/main/java/com/example/myapplication/service/profile_edit_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/profile_see_api.kt
  android/app/src/main/java/com/example/myapplication/service/profile_see_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/ProfileCreateActivity.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/java/com/example/myapplication/view/ProfileSeeActivity.kt
  android/app/src/main/res/drawable-v24/vesika.jpg
  android/app/src/main/res/layout/activity_profilecreate.xml
  android/app/src/main/res/layout/activity_profilepage.xml
  android/app/src/main/res/layout/activity_profilesee.xml
  android/app/src/main/res/layout/activity_sign_up.xml
Labels: Android

#603 Api connection for Reset Password, List All Learning Spaces, List A s…
  android/app/src/main/java/com/example/myapplication/model/learningSpace2GetEnrolledLearningSpaces_data_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2GetEnrolledLearningSpaces_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2ListEveryLearningSpace_data_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2ListEveryLearningSpace_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3GetDiscussionList_received_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3GetDiscussionOwner_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3PostDiscussion_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/resetPassword_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/resetPassword_send_model.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2GetEnrolledLearningSpaces_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2GetEnrolledLearningSpaces_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2Leave_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2ListEveryLearningSpace_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2ListEveryLearningSpace_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetContent_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetDiscussionList_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetDiscussionList_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3PostDiscussion_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3PostDiscussion_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/resetPassword_api.kt
  android/app/src/main/java/com/example/myapplication/service/resetPassword_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2.kt
  android/app/src/main/res/layout/activity_learning_space2.xml
  android/app/src/main/res/layout/activity_learning_space3.xml
Labels: Type: Documentation, Status: Completed, Android

#605 New back-end connections for android and some bug fixes.
  android/app/src/main/java/com/example/myapplication/model/learningSpace2Leave_response_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3GetDiscussionList_send_model.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2GetEnrolledLearningSpaces_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2Leave_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2Leave_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2ListEveryLearningSpace_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetDiscussionList_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetDiscussionList_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/resetPassword_api.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2.kt
  android/app/src/main/res/layout/activity_add_content.xml
Labels: Type: Documentation, Status: Completed, Android

#610 Discussion is fully completed. Some design changes for learning space…
  android/app/src/main/java/com/example/myapplication/model/learningSpace2GetEnrolledLearningSpaces_data_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3GetDiscussionList_received_data_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3GetDiscussionList_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3PostDiscussion_send_model.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetDiscussionList_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3GetDiscussionList_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3PostDiscussion_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3PostDiscussion_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
  android/app/src/main/res/layout/activity_learning_space3.xml
  android/app/src/main/res/layout/add_discussion_post.xml
Labels: Android

#624 Some design changes for add content
  android/app/src/main/java/com/example/myapplication/model/profile_edit_post_send_model.kt
  android/app/src/main/java/com/example/myapplication/view/AddContent.kt
  android/app/src/main/res/layout/activity_add_content.xml
Labels: Type: Documentation, Status: Completed, Android

#627 LS Search Implemented
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/service/ls_search_api.kt
  android/app/src/main/java/com/example/myapplication/service/ls_search_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LsSearchActivity.kt
  android/app/src/main/res/drawable/search_view_bg.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_ls_search.xml
Labels: Android

#634 enrolled learning spaces and leave learning space tests are written
  backend/app/tests/test_enrolled_learning_spaces.py
  backend/app/tests/test_leave_learning_space.py
Labels: Type: Testing, Status: Completed, Backend

#635 I have prepared tests for discussion and search
  backend/app/tests/test_discussion.py
  backend/app/tests/test_discussion_list.py
  backend/app/tests/test_learning_space_list.py
  backend/app/tests/test_learning_space_search.py
  backend/app/tests/test_learning_space_tag_search.py
Labels: Status: Completed, Backend

#644 milestone2 bug fix
  deliverables/CMPE451_Customer_Presentation_Milestone_2/android/app/.idea/.gitignore
  deliverables/CMPE451_Customer_Presentation_Milestone_2/android/app/.idea/gradle.xml
  deliverables/CMPE451_Customer_Presentation_Milestone_2/android/app/.idea/misc.xml
  deliverables/CMPE451_Customer_Presentation_Milestone_2/android/app/src/main/java/com/example/myapplication/service/profile_edit_api.kt
  deliverables/CMPE451_Customer_Presentation_Milestone_2/android/app/src/main/java/com/example/myapplication/view/ProfileCreateActivity.kt
Labels: Type: Enhancement, Priority: Critical, Android

#645 Update README.md
  README.md
Labels: Type: Enhancement, Status: In Progress, Android

#646 Update README.md
  README.md
Labels: Type: Documentation, Priority: Low, Status: Completed

#654 Docker file updated
  frontend/Dockerfile
Labels: Frontend

#656 Commands of the nextjs is added
  frontend/README.md
Labels: Type: Documentation, Status: Completed, Frontend

#667 Instructions of frontend is added to Readme
  README.md
Labels: Type: Documentation, Status: Completed, Frontend

#679 Android omer milestone3
  android/.idea/deploymentTargetDropDown.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/service/profile_edit_api.kt
  android/app/src/main/java/com/example/myapplication/view/ProfileCreateActivity.kt
  android/app/src/main/java/com/example/myapplication/view/jetpackDeneme.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Color.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Shape.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Theme.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Type.kt
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/build.gradle
Labels: Type: Documentation, Type: Enhancement, Priority: Medium, Status: Completed, Android

#678 Summary of work in tabular format is added
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_milestone_review.md
Labels: Type: Documentation, Priority: High, Status: Review Needed, Type: Task

#680 GitHub Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_issue.md
Labels: Type: Documentation, Priority: Low

#684 learning space page is added
  .DS_Store
  frontend/.DS_Store
  frontend/components/detail/DetailInfoPage.js
  frontend/components/detail/DetailMain.js
  frontend/components/detail/DetailSidebar.js
  frontend/components/detail/Footer.js
  frontend/components/homepage/Forum.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/detail/[id].js
  frontend/yarn.lock
Labels: Priority: High, Type: Task, Status: Revision Needed, Frontend

#686 add content functionality is added
  frontend/components/addcontent/AddContentInfoPage.js
  frontend/components/addcontent/ContentAdd.js
  frontend/components/detail/DetailMain.js
  frontend/pages/addcontent/[id]/[type].js
Labels: Type: Task, Frontend

#691 New Button design and some config changes.
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/view/jetpackDeneme.kt
  android/app/src/main/res/drawable/button_background.xml
  android/app/src/main/res/drawable/rounded_rectangle.xml
  android/app/src/main/res/layout/activity_add_content.xml
  android/app/src/main/res/layout/activity_change_password.xml
  android/app/src/main/res/layout/activity_forgot_password.xml
  android/app/src/main/res/layout/activity_landing.xml
  android/app/src/main/res/layout/activity_learning_space2.xml
  android/app/src/main/res/layout/activity_learning_space3.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_profilecreate.xml
  android/app/src/main/res/layout/activity_profilepage.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/layout/frag_home.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: Type: Documentation, Status: Completed, Android

#700 Some of Missing Functionalities Added to Space's Detail Page
  .DS_Store
  frontend/.DS_Store
  frontend/.gitignore
  frontend/components/addcontent/AddContentInfoPage.js
  frontend/components/addcontent/ContentAdd.js
  frontend/components/detail/DetailInfoPage.js
  frontend/components/detail/DetailMain.js
  frontend/components/detail/DetailSidebar.js
  frontend/components/detail/Footer.js
  frontend/components/homepage/Forum.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/addcontent/[id]/[type].js
  frontend/pages/detail/[id].js
  frontend/yarn.lock
Labels: Priority: High, Type: Task, Status: Completed, Frontend

#693 Design improvement for Android app is done.
  android/.idea/deploymentTargetDropDown.xml
  android/.idea/inspectionProfiles/Project_Default.xml
  android/.idea/misc.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/view/AddContent.kt
  android/app/src/main/java/com/example/myapplication/view/LandingActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace1.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Members.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Menu.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Resources.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
  android/app/src/main/java/com/example/myapplication/view/LsSearchActivity.kt
  android/app/src/main/java/com/example/myapplication/view/SignInActivity.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Color.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Shape.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Theme.kt
  android/app/src/main/java/com/example/myapplication/view/ui/theme/Type.kt
  android/app/src/main/res/drawable/addmember.png
  android/app/src/main/res/drawable/background_general.xml
  android/app/src/main/res/drawable/button_background.xml
  android/app/src/main/res/drawable/contents.png
  android/app/src/main/res/drawable/discussion.png
  android/app/src/main/res/drawable/leave.png
  android/app/src/main/res/drawable/student.png
  android/app/src/main/res/drawable/textview_background.xml
  android/app/src/main/res/font/advent_pro_bold.xml
  android/app/src/main/res/font/aladin.xml
  android/app/src/main/res/font/andika.xml
  android/app/src/main/res/font/walter_turncoat.xml
  android/app/src/main/res/layout/activity_add_content.xml
  android/app/src/main/res/layout/activity_change_password.xml
  android/app/src/main/res/layout/activity_forgot_password.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_landing.xml
  android/app/src/main/res/layout/activity_landing_items.xml
  android/app/src/main/res/layout/activity_learning_space2.xml
  android/app/src/main/res/layout/activity_learning_space2_members.xml
  android/app/src/main/res/layout/activity_learning_space2_menu.xml
  android/app/src/main/res/layout/activity_learning_space2_seecontents.xml
  android/app/src/main/res/layout/activity_learning_space3.xml
  android/app/src/main/res/layout/activity_ls_search.xml
  android/app/src/main/res/layout/activity_profilecreate.xml
  android/app/src/main/res/layout/activity_profilepage.xml
  android/app/src/main/res/layout/activity_profilesee.xml
  android/app/src/main/res/layout/activity_sign_in.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/layout/adapter_background.xml
  android/app/src/main/res/layout/add_discussion_post.xml
  android/app/src/main/res/layout/add_learning_space.xml
  android/app/src/main/res/layout/learning_space_1.xml
  android/app/src/main/res/layout/nav_header.xml
  android/app/src/main/res/menu/nav_drawer_menu.xml
  android/app/src/main/res/values/font_certs.xml
  android/app/src/main/res/values/preloaded_fonts.xml
  android/app/src/main/res/values/styles.xml
Labels: Type: Documentation, Status: Completed, Android

#703 Android: UI improvements
  android/.idea/deploymentTargetDropDown.xml
  android/app/src/main/res/drawable/background_general.xml
  android/app/src/main/res/drawable/button_background.xml
  android/app/src/main/res/layout/activity_change_password.xml
  android/app/src/main/res/layout/activity_forgot_password.xml
  android/app/src/main/res/layout/activity_landing.xml
  android/app/src/main/res/layout/activity_landing_items.xml
  android/app/src/main/res/layout/activity_sign_in.xml
Labels: Type: Enhancement, Status: Completed, Android

#704 Profile page new design is introduced.
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/java/com/example/myapplication/view/ProfileSeeActivity.kt
  android/app/src/main/res/layout/activity_profilecreate.xml
  android/app/src/main/res/layout/activity_profilepage.xml
  android/app/src/main/res/layout/activity_profilesee.xml
Labels: Type: Enhancement, Status: Completed, Android

#708 Sign-in and Sign-up design changes.
  android/app/src/main/res/layout/activity_sign_in.xml
  android/app/src/main/res/layout/activity_sign_up.xml
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#710 Profile edit page implemented
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/view/ProfileCreateActivity.kt
  android/app/src/main/res/drawable/blank_profile.png
  android/app/src/main/res/layout/activity_profilecreate.xml
Labels: Type: Documentation, Status: Completed, Android

#714 Profile Page enrolled courses are seen and redirected.
  android/app/src/main/java/com/example/myapplication/model/list_element_user.kt
  android/app/src/main/java/com/example/myapplication/model/profile_see_get_receive_model.kt
  android/app/src/main/java/com/example/myapplication/view/ForgotPasswordActivity.kt
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LandingActivity.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/java/com/example/myapplication/view/SignUpActivity.kt
  android/app/src/main/res/layout/activity_profilepage.xml
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#732 Learning Space List UI updated
  android/app/src/main/java/com/example/myapplication/model/ls_list_element.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace1.kt
  android/app/src/main/java/com/example/myapplication/view/LsListAdapter.kt
  android/app/src/main/res/drawable/ls_card.xml
  android/app/src/main/res/layout/learning_space_1.xml
  android/app/src/main/res/layout/ls_list_item.xml
Labels: Priority: Medium, Type: Task, Status: Completed, Android

#717 Resource page new design is introduced.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/res/drawable-v24/note.png
  android/app/src/main/res/drawable-v24/pencil.png
  android/app/src/main/res/drawable/book.png
  android/app/src/main/res/drawable/down_image.png
  android/app/src/main/res/drawable/down_vote.png
  android/app/src/main/res/drawable/rounded_rectangle.xml
  android/app/src/main/res/drawable/textview_background.xml
  android/app/src/main/res/drawable/up_image.png
  android/app/src/main/res/drawable/up_vote.png
  android/app/src/main/res/font/rubik_bold.xml
  android/app/src/main/res/font/rubik_medium.xml
  android/app/src/main/res/layout/activity_learning_space3.xml
  android/app/src/main/res/layout/activity_sign_in.xml
  android/app/src/main/res/layout/add_discussion_post.xml
  android/app/src/main/res/values/preloaded_fonts.xml
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#733 Android: Navigation Bar Improvements
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/res/drawable/logo.jpg
  android/app/src/main/res/drawable/logo_bottom_border.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/nav_header.xml
  android/app/src/main/res/layout/toolbar.xml
  android/app/src/main/res/menu/nav_drawer_menu.xml
Labels: Type: Task, Status: Completed, Android

#746 UI/UX improvement on resource page and Markdown support.
  android/app/build.gradle
  android/app/src/main/java/com/example/myapplication/view/AddContent.kt
  android/app/src/main/java/com/example/myapplication/view/LandingActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/java/com/example/myapplication/view/SignInActivity.kt
  android/app/src/main/res/layout/activity_add_content.xml
  android/app/src/main/res/layout/activity_landing_items.xml
  android/app/src/main/res/layout/activity_learning_space3.xml
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#743 Backend dev notes
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0002_alter_profile_about_me.py
  backend/app/migrations/0002_note.py
  backend/app/migrations/0002_profile_image_url.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
  backend/docker-compose.yml
Labels: Type: Enhancement, Priority: High, Status: Completed, Backend

#741 Learning Space Features
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0002_alter_profile_about_me.py
  backend/app/migrations/0002_profile_image_url.py
  backend/app/models.py
  backend/app/serializers.py
  backend/app/views.py
  backend/docker-compose.yml
Labels: Type: Enhancement, Priority: High, Status: Completed, Backend

#760 Backend dev favorite learning spaces
  backend/app/models.py
  backend/app/serializers.py
  backend/app/urls.py
  backend/app/views.py
Labels: Priority: High, Backend

#766 Frontend UI update
  frontend/.gitignore
  frontend/components/header/index.js
  frontend/components/homepage/Footer.js
  frontend/components/profile/Sidebar.js
  frontend/components/subpages/PageOne.js
  frontend/components/subpages/PageTwo.js
  frontend/pages/_app.js
  frontend/pages/forgot-password/index.js
  frontend/pages/homepage/index.js
  frontend/pages/login/index.js
  frontend/pages/signup/index.js
  frontend/public/assets/budemi logo2.png
  frontend/styles/globals.css
  frontend/yarn.lock
Labels: Type: Enhancement, Frontend

#758 Profile page image and more back-end connection is made
  android/app/src/main/java/com/example/myapplication/model/add_favorite_data_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2_add_favorite_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2_add_favorite_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2_remove_favorite_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace2_remove_favorite_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpaceModel.kt
  android/app/src/main/java/com/example/myapplication/model/profile_see_get_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/user_from_id_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/user_from_id_send_model.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2_add_fav_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2_add_fav_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2_remove_fav_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace2_remove_fav_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/user_from_id_api.kt
  android/app/src/main/java/com/example/myapplication/service/user_from_id_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Menu.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/res/layout/activity_profilepage.xml
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#768 Search bar moved to the home page
  android/app/src/main/java/com/example/myapplication/model/list_elements.kt
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace1.kt
  android/app/src/main/res/drawable/search_view_bg.xml
  android/app/src/main/res/layout/activity_home.xml
Labels: Priority: Medium, Type: Task, Status: Completed, Android

#771 Favorite learning spaces are listed on home page
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/HomeViewPager.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace1.kt
  android/app/src/main/java/com/example/myapplication/view/LsListAdapter.kt
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/ls_list_item.xml
Labels: Type: Documentation, Priority: Medium, Android

#776 Note and Content api connections are made
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_content_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_content_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_note_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_note_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_post_note_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_post_note_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_see_all_note_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_see_all_note_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/note_model.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_patch_content_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_patch_content_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_patch_note_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_patch_note_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_post_note_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_post_note_api_call.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_see_all_note_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_see_all_note_api_call.kt
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#770 Edit note feature is created. Patch method is implemented in noteAPIview
  backend/app/views.py
Labels: Type: Enhancement, Priority: High, Status: Completed, Backend

#779 Get Method to get user id from username
  backend/app/urls.py
  backend/app/views.py
Labels: Type: Enhancement, Priority: High, Status: Completed, Backend

#789 Connect Django project with env file
  backend/.env.env_sample
  backend/.env.prod_sample
  backend/budemi/settings.py
  backend/docker-compose.yml
Labels: Type: Enhancement, Priority: High, Status: Completed, Backend

#790 Get method in getuseridAPIView was missing so I fixed it
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0002_note.py
  backend/app/views.py
Labels: Type: Bug, Status: Completed, Backend

#791 Profile image filed was an ImageFiled but mobile team requested it as TextField
  backend/app/migrations/0001_initial.py
  backend/app/models.py
Labels: Type: Enhancement, Status: Completed, Backend

#794 Resources of Fav. Learning Spaces on the Home Page
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LandingActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace1.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Menu.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Resources.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_learning_space2_menu.xml
  android/app/src/main/res/layout/activity_learning_space2_seecontents.xml
  android/app/src/main/res/layout/activity_learning_space3.xml
  android/app/src/main/res/layout/activity_profilepage.xml
  android/app/src/main/res/layout/learning_space_1.xml
Labels: Priority: Medium, Type: Task, Status: Completed, Android

#803 Notes api connection is made.
  android/app/build.gradle
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_content_receive_model.kt
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_content_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/note_model.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_patch_content_api.kt
  android/app/src/main/java/com/example/myapplication/service/learningSpace3_patch_content_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Menu.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
Labels: Type: Documentation, Type: Enhancement, Status: Completed, Android

#800 Android Home Page: Resource owner bug fixed
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/HomeViewPager.kt
Labels: Type: Bug, Priority: Medium, Status: Completed, Android

#804 Resource Update Bug fixed
  android/app/src/main/java/com/example/myapplication/model/learningSpace3_patch_content_send_model.kt
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
Labels: Type: Bug, Priority: Medium, Status: Completed, Android

#808 Notes bug fixed, update functionality implemented
  android/app/src/main/java/com/example/myapplication/model/note_model.kt
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
Labels: Type: Enhancement, Priority: Medium, Status: Completed, Android

#811 Empty notes related bug fix
  android/app/src/main/java/com/example/myapplication/view/LearningSpace3.kt
Labels: Type: Bug, Priority: High, Priority: Medium, Android

#826 Android harun
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: Type: Enhancement, Priority: Low, Status: Review Needed, Android

#829 Set application configuration settings
  android/app/build.gradle
  android/keystore/Untitled
Labels: Type: Enhancement, Priority: High, Status: Completed, Android

#726 resource functionality and displaying members on learning space improved
  frontend/.gitignore
  frontend/components/addcontent/AddContentInfoPage.js
  frontend/components/addcontent/AddContentPage.js
  frontend/components/addcontent/ContentAdd.js
  frontend/components/detail/DetailContributors.js
  frontend/components/detail/DetailInfoPage.js
  frontend/components/detail/DetailMain.js
  frontend/components/detail/DetailSidebar.js
  frontend/components/resource/ResourceSidebar.js
  frontend/components/resource/subpages/Contributors.js
  frontend/components/resource/subpages/Main.js
  frontend/components/resource/subpages/PersonalNotes.js
  frontend/components/resource/subpages/ProfileCard.js
  frontend/components/resource/subpages/index.js
  frontend/next.config.js
  frontend/pages/addcontent/[id].js
  frontend/pages/addcontent/[id]/[type].js
  frontend/pages/detail/[id].js
  frontend/pages/resource/[id].js
Labels: Priority: High, Type: Task, Status: In Progress, Status: Revision Needed, Frontend

#837 Bugfixed the multiple favorites problem
  backend/app/admin.py
  backend/app/views.py
Labels: Type: Bug, Backend

#838 Patch method to update profile is implemented
  backend/app/views.py
Labels: Type: Enhancement, Priority: High, Status: Completed, Backend

#842 Profile page implementation is done
  android/app/src/main/java/com/example/myapplication/model/profile_edit_post_send_model.kt
  android/app/src/main/java/com/example/myapplication/model/profile_see_get_receive_model.kt
  android/app/src/main/java/com/example/myapplication/service/profile_edit_api.kt
  android/app/src/main/java/com/example/myapplication/service/profile_edit_api_call.kt
  android/app/src/main/java/com/example/myapplication/view/ProfileCreateActivity.kt
  android/app/src/main/java/com/example/myapplication/view/ProfilePageActivity.kt
Labels: Type: Enhancement, Priority: Medium, Status: Completed, Android

#849 Unit tests for profile page, taking notes feature and getting user id
  backend/app/tests/test_get_id_from_username.py
  backend/app/tests/test_note.py
  backend/app/tests/test_profile.py
Labels: Priority: Medium, Type: Testing, Status: Completed, Backend

#853 Fixed the bug in the patch methd of profileApiView
  backend/app/views.py
Labels: Type: Bug, Priority: High, Backend

#848 Home Page Favorite Learning Spaces
  android/app/src/main/java/com/example/myapplication/view/HomeActivity.kt
  android/app/src/main/java/com/example/myapplication/view/HomeViewPager.kt
Labels: Type: Enhancement, Priority: Medium, Status: Completed, Android

#856 Backend dev test bugfix
  backend/app/tests/test_discussion_list.py
  backend/app/tests/test_leave_learning_space.py
Labels: Type: Bug, Backend

#858 Unittests: content edit, fav, unfav user from id
  backend/app/tests/test_content_edit.py
  backend/app/tests/test_favorite_unfavorite_ls.py
  backend/app/tests/test_username_from_id.py
Labels: Type: Testing, Backend

#861 Tests for get, post, patch, delete for annotation
  annotations/app/tests/test_annotation.py
Labels: Type: Testing, Backend

#860 Unit test for profileApiView patch method is implemented.
  backend/app/tests/test_profile.py
Labels: Priority: High, Type: Testing, Status: Completed, Backend

#864 Check is favorite
  android/app/src/main/java/com/example/myapplication/view/LearningSpace2Menu.kt
Labels: Type: Bug, Priority: Medium, Status: Completed, Android

#873 update ui of landing page, detail page and fix containers
  deliverables/CMPE451_Customer_Presentation_Milestone_2/frontend/components/profile/Sidebar.js
  deliverables/CMPE451_Customer_Presentation_Milestone_2/frontend/pages/forgot-password/index.js
  deliverables/CMPE451_Customer_Presentation_Milestone_2/frontend/pages/homepage/index.js
  deliverables/CMPE451_Customer_Presentation_Milestone_2/frontend/pages/login/index.js
  deliverables/CMPE451_Customer_Presentation_Milestone_2/frontend/pages/signup/index.js
  frontend/components/addcontent/ContentAdd.js
  frontend/components/detail/DetailContributors.js
  frontend/components/detail/DetailInfoPage.js
  frontend/components/detail/DetailMain.js
  frontend/components/edit-resource/ResourceEdit.js
  frontend/components/homepage/Forum.js
  frontend/components/homepage/SearchBar.js
  frontend/components/profile/Sidebar.js
  frontend/components/resource/ResourceSidebar.js
  frontend/pages/detail/[id].js
  frontend/pages/forgot-password/index.js
  frontend/pages/homepage/index.js
Labels: Type: Task, Frontend

#885 Add Splash Screen and Onboarding Activity
  android/.idea/jarRepositories.xml
  android/app/build.gradle
  android/app/src/main/java/com/example/myapplication/manager/PrefManager.kt
  android/app/src/main/java/com/example/myapplication/manager/Utils.kt
  android/app/src/main/java/com/example/myapplication/manager/net/observer/NetworkObserverActivity.java
  android/app/src/main/java/com/example/myapplication/ui/BaseActivity.kt
  android/app/src/main/java/com/example/myapplication/ui/OnboardingActivity.kt
  android/app/src/main/java/com/example/myapplication/ui/SplashScreenActivity.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/core/Transform.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/OnBoardingPagerAdapter.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/customView/OnBoardingView.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/entity/OnBoardingPage.kt
  android/app/src/main/res/anim/rotate.xml
  android/app/src/main/res/drawable/circle_dash.xml
  android/app/src/main/res/drawable/circle_white.xml
  android/app/src/main/res/drawable/gradient_splash.xml
  android/app/src/main/res/drawable/ic_arrow_left_black.xml
  android/app/src/main/res/drawable/map.png
  android/app/src/main/res/drawable/onboarding_top.png
  android/app/src/main/res/drawable/onboarding_wave.png
  android/app/src/main/res/drawable/splash_logo.png
  android/app/src/main/res/layout/activity_onboarding.xml
  android/app/src/main/res/layout/activity_splash_screen.xml
  android/app/src/main/res/layout/onboarding_page_item.xml
  android/app/src/main/res/layout/onboarding_view.xml
  android/app/src/main/res/raw/onboarding1.json
  android/app/src/main/res/raw/onboarding2.json
  android/app/src/main/res/raw/onboarding3.json
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/onboarding_main_scene.xml
  android/settings.gradle
Labels: Type: Enhancement, Priority: High, Status: Completed, Android

#886 Android main
  android/.idea/jarRepositories.xml
  android/app/build.gradle
  android/app/src/main/java/com/example/myapplication/manager/PrefManager.kt
  android/app/src/main/java/com/example/myapplication/manager/Utils.kt
  android/app/src/main/java/com/example/myapplication/manager/net/observer/NetworkObserverActivity.java
  android/app/src/main/java/com/example/myapplication/ui/BaseActivity.kt
  android/app/src/main/java/com/example/myapplication/ui/OnboardingActivity.kt
  android/app/src/main/java/com/example/myapplication/ui/SplashScreenActivity.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/core/Transform.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/OnBoardingPagerAdapter.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/customView/OnBoardingView.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/entity/OnBoardingPage.kt
  android/app/src/main/res/anim/rotate.xml
  android/app/src/main/res/drawable/circle_dash.xml
  android/app/src/main/res/drawable/circle_white.xml
  android/app/src/main/res/drawable/gradient_splash.xml
  android/app/src/main/res/drawable/ic_arrow_left_black.xml
  android/app/src/main/res/drawable/map.png
  android/app/src/main/res/drawable/onboarding_top.png
  android/app/src/main/res/drawable/onboarding_wave.png
  android/app/src/main/res/drawable/splash_logo.png
  android/app/src/main/res/layout/activity_onboarding.xml
  android/app/src/main/res/layout/activity_splash_screen.xml
  android/app/src/main/res/layout/onboarding_page_item.xml
  android/app/src/main/res/layout/onboarding_view.xml
  android/app/src/main/res/raw/onboarding1.json
  android/app/src/main/res/raw/onboarding2.json
  android/app/src/main/res/raw/onboarding3.json
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/onboarding_main_scene.xml
  android/settings.gradle
Labels: Android

#888 navigation bar added to change password
  android/app/src/main/java/com/example/myapplication/view/ChangePasswordActivity.kt
  android/app/src/main/res/layout/activity_change_password.xml
Labels: Android

#889 Instructions of Frontend App Dependencies Updated
  README.md
Labels: Type: Documentation, Priority: Low, Status: Review Needed, Frontend

#895 Fix linking error, set AndroidManifest configurations
  android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/AndroidManifest.xml
Labels: Type: Bug, Priority: High, Status: Completed, Android

#894 navigation bar added to create profile
  android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/myapplication/view/ProfileCreateActivity.kt
  android/app/src/main/res/layout/activity_profilecreate.xml
Labels: Android

#869 Currently, a user can see all notes, but a user can only see his/her own note. I fixed this bug.
  backend/app/views.py
Labels: Type: Bug, Priority: Medium, Status: Completed, Backend

#907 Change Design of Sign in page
  android/app/src/main/res/layout/activity_landing.xml
  android/app/src/main/res/layout/activity_sign_in.xml
Labels: Type: Enhancement, Priority: Medium, Status: Completed, Android

#908 Change Design of Sign Up Page
  android/app/src/main/res/layout/activity_sign_up.xml
Labels: Type: Enhancement, Priority: Low, Status: Completed, Android

#912 Add Landing Page
  android/app/src/main/java/com/example/myapplication/ui/frag/ChooseAuthFrag.kt
  android/app/src/main/java/com/example/myapplication/ui/widget/onboarding/onboarding/customView/OnBoardingView.kt
  android/app/src/main/java/com/example/myapplication/view/LandingActivity.kt
  android/app/src/main/res/drawable/learning.png
  android/app/src/main/res/layout/activity_landing.xml
  android/app/src/main/res/layout/choose_auth_frag.xml
  android/app/src/main/res/raw/login.json
Labels: Type: Enhancement, Priority: High, Status: Completed, Android

#933 Clicking Twice Bug Resolved
  frontend/components/detail/DetailMain.js
Labels: Type: Bug, Priority: Low, Status: Review Needed, Frontend
